.main {
    font-size: 12px;
    padding: 0.5rem;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    h4 {
        color: red;
    }
}
.container {
    display: flex;
    overflow: hidden;
    gap: 0.5rem;
}

.innercontainer {
    display: flex;
    gap: 0.5rem;
}

.item {
    white-space: nowrap;
    background-color: #f6f7fb;
    border: 1px solid #9aa2b0;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 1rem;
}
